<% if (gaAccount && gaDomain) { %>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%= gaAccount %>']);
  _gaq.push(['_setDomainName', '<%= gaDomain %>']);
  _gaq.push(['_trackPageview']);

  $(document.body).on('click', function() {
    _gaq.push(['_trackEvent', 'HIW Demo', 'click']);
  });

  (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
</script>
<% } %>
<% script('https://' + platformAsset) %>
<% script('https://' + platformHost + '/widgets/user-colors/latest/user-colors.min.js') %>
<% script('https://' + platformHost + '/widgets/user-list/latest/user-list.min.js') %>
<% script('https://' + platformHost + '/widgets/form/latest/form.min.js') %>

<% script('/static/js/marker.js'); %>
<% script('/static/js/auto_complete.js'); %>
<% script('/static/js/send_invite.js'); %>
<% script('/static/js/multiplayer_map.js'); %>
<% script('/static/js/map_demo.js'); %>

<% stylesheet('/static/css/map.css'); %>
<% stylesheet('https://' + platformHost + '/widgets/user-list/latest/user-list.css'); %>
<% stylesheet('https://' + platformHost + '/widgets/form/latest/form.css'); %>

<script type="text/javascript">
  $(document).ready(function() {
    var config = {
      connectUrl: 'https://<%= platformConnect %>',
      token: '<%= platformToken %>',
      sessionId: '<%= sessionId %>',
      index: '<%= index %>',
      container: document.getElementById('map-canvas'),
      scrollEnabled: false,
      streetEnabled: true,
      chatEnabled: false,
      throttle: 50
    };

    var mapDemo = new window.goinstant.MapDemo(config);
    mapDemo.initialize();
  });
</script>

<div id="map-canvas"></div>

<div id="button-container">
  <form id="search-form" onsubmit="return false;">
    <input type="text" id="search-bar" name="search-bar" placeholder="Start typing to find a place!" />
    <a href="#" id="search-button" class="btn btn-success"><i class="icon-search icon-white"></i></a>
  </form>
</div>

<a href="#" id="close-street-view" role="button" class="btn"><i class="icon-back"></i><span>Exit Streetview</span></a>
